# Env file for the project
# kubee should be called from linuxbrew or from the bin directory
# ie from /home/linuxbrew/.linuxbrew/bin/kubee or bin
# deprecated: export PATH=$PWD/bin:$PATH

# Add Scripts in path
export PATH=$PWD/contrib/scripts:$PATH

# Env
export PROJECT_ROOT=$PWD
export ORGANIZATION_NAME=combostrap
export PROJECT_NAME=kubee

# SDKMAN
# loading, as it's as the sdk command is a bash function
export SDKMAN_DIR=${SDKMAN_DIR:-"$HOME/.sdkman"}
SDKMAN_INIT_FILE="${SDKMAN_DIR}/bin/sdkman-init.sh"
if [[ ! -s "$SDKMAN_INIT_FILE" ]]; then
  echo "sdkman init file was not found and is mandatory (Path: $SDKMAN_INIT_FILE)"
  echo "You can"
  echo "  * install sdkman"
  echo "  * or overwrite the <.sdkman> dir by setting the SDKMAN_DIR env"
  return 1
fi
# We disable `set -o nounset` to avoid unbound variable errors
set +u
# shellcheck disable=SC1090
source "${SDKMAN_INIT_FILE}"

###################
# jreleaser
###################
SDKMAN_JRELEASER_VERSION=1.21.0
if ! sdk home jreleaser "${SDKMAN_JRELEASER_VERSION}" > /dev/null; then
  sdk install jreleaser "${SDKMAN_JRELEASER_VERSION}"
fi
sdk use jreleaser "${SDKMAN_JRELEASER_VERSION}"
